<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scxinglin.mapper.base.YaoJingCaiTokenMapper">
  <resultMap id="BaseResultMap" type="com.scxinglin.domain.entity.YaoJingCaiToken">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="YTN_ID" jdbcType="INTEGER" property="id" />
    <result column="YTN_APP_ID" jdbcType="VARCHAR" property="ytnAppId" />
    <result column="YTN_SECRET" jdbcType="VARCHAR" property="ytnSecret" />
    <result column="YTN_ACCESS_TOKEN" jdbcType="VARCHAR" property="ytnAccessToken" />
    <result column="YTN_REFRESH_TOKEN" jdbcType="VARCHAR" property="ytnRefreshToken" />
    <result column="YTN_OPEN_ID" jdbcType="VARCHAR" property="ytnOpenId" />
    <result column="YTN_EXPRESS_IN" jdbcType="TIMESTAMP" property="ytnExpressIn" />
    <result column="YTN_SCOPE" jdbcType="VARCHAR" property="ytnScope" />
    <result column="CREATE_DATETIME" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="UPDATE_DATETIME" jdbcType="TIMESTAMP" property="updateDatetime" />
  </resultMap>
</mapper>