<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <mvc:annotation-driven/>

    <mvc:default-servlet-handler/>

    <bean id="urlTimeOffset" class="java.lang.Long">
        <constructor-arg value="${url.timeoffset}"/>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${file.maxUploadSize}"/>
        <property name="maxInMemorySize" value="${file.maxInMemorySize}"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/get-captcha"/>
            <bean class="com.keepzx.pcms.interceptor.SessionInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <!-- 配置数据库注解aop -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
    <bean id="manyDataSourceAspect" class="com.keepzx.config.db.DataSourceAspect" />
    <aop:config>
        <aop:aspect id="c" ref="manyDataSourceAspect">
            <aop:pointcut id="tx" expression="execution(* com.keepzx.mapper..*.*(..))"/>
            <aop:before pointcut-ref="tx" method="before"/>
        </aop:aspect>
        <aop:aspect id="d" ref="reportLogAspect" order="2">
            <aop:pointcut id="log" expression="execution(* com.keepzx.mapper.business.report..*.*(..))" />
            <aop:around pointcut-ref="log" method="around"/>
        </aop:aspect>
    </aop:config>

</beans>
